<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <% include("base/web-settings-meta.html"){} %>
    <title>${site.siteName!}-首页</title>
</head>

<body>

<% include("base/web-settings-top-nav.html"){} %>

<% include("base/web-settings-reg-login.html"){} %>


<div class="container">




</div>

<style>
    footer{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
</style>

<% include("base/web-settings-footer.html"){} %>
<% include("base/web-settings-bottom.html"){} %>

</body>
</html>
