<style>
    .footer {
        padding-right: 0;
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 40px;
        margin: 0 50px 0 35px;
        border-top: 1px solid #eee;
    }

    .footer p {
        font-size: 14px;
    }
</style>
<footer class="footer">

    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37052302000203"
       class="m-l-sm text-muted">
        <img src="https://data.ijson.net/beian.png" style="float:left;">
        <p style="float:left; color:#939393;">鲁公网安备 37052302000203号</p>
    </a>
    <!--<a href="#">博客版本时间线</a>-->
    <a target="_blank" href="#" class="m-l-sm text-muted">
        <p style="float:left; color:#939393;margin-left: 50px;">© 2020 西数云科.</p>
    </a>
</footer>